<div class="container">
  <div class="row">

    @for (employee of employees; track $index) {

    <div class="col">
      <div class="card">

        <img class="card-img-top" [src]="employee.photoPath" alt="Employee photo" />

        <div class="card-body">
          <h4 class="card-title">{{ employee.name }}</h4>

          <div class="card-text">
            <div class="info-row">Gender: {{ employee.gender }}</div>
            <div class="info-row">Date of Birth: {{ employee.dateOfBirth | date }}</div>
            <div class="info-row">Contact Preference: {{ employee.contactPreference }}</div>
            <div class="info-row">Phone: {{ employee.phoneNumber }}</div>
            <div class="info-row">Email: {{ employee.email }}</div>
            <div class="info-row">Department: {{ employee.department }}</div>
            <div class="info-row">Is Active: {{ employee.isActive }}</div>
          </div>

        </div>
      </div>
    </div>

    }

  </div>
</div>
