*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* GLOBAL FONT SYSTEM */
body{
    font-family:'Inter', Arial;
    background:linear-gradient(135deg,#cfe4ff,#eaf2ff);
    color:#0b1f3a;
    line-height:1.5;
}

/* HEADINGS use POPPINS */
h1,h2,h3,.logo{
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 30px;
    background:linear-gradient(135deg,#1f6feb,#3ba2ff);
    color:white;
    position:sticky;
    top:0;
    box-shadow:0 6px 20px rgba(0,0,0,0.2);
}

.logo{
    font-size:28px;
    font-weight:900;
    letter-spacing:0.5px;
}

.menu{
    display:flex;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:700;
    letter-spacing:.3px;
}

@media(max-width:750px){
    .top{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    font-size:40px;
    font-weight:900;
}

.hero p{
    font-size:15px;
    opacity:.8;
}

/* CATEGORY */
.category{
    max-width:1200px;
    margin:35px auto 5px auto;
    font-size:22px;
    font-weight:900;
    color:#1f6feb;
}

/* GRID */
.products{
    max-width:1200px;
    margin:auto;
    padding:20px;
    display:grid;
    gap:25px;
    grid-template-columns:repeat(3,1fr);
}

@media(max-width:900px){
    .products{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .products{
        grid-template-columns:1fr;
    }
}

/* CARD */
.card{
    background:white;
    border-radius:16px;
    padding:15px;
    text-align:center;
    box-shadow:0 8px 24px rgba(0,0,0,0.18);
    border:1px solid #d6e6ff;
    transition:0.3s;
}

/* consistent image size */
.card img{
    width:100%;
    height:230px;
    object-fit:cover;
    border-radius:14px;
}

/* hover */
.card:hover{
    transform:translateY(-6px);
    box-shadow:0 14px 35px rgba(0,0,0,0.25);
}

/* TITLE */
h3{
    margin-top:10px;
    font-weight:900;
}

/* PRICE */
.price{
    color:#1f6feb;
    font-weight:900;
    margin-top:3px;
}

/* DESCRIPTION */
.desc{
    font-size:13px;
    opacity:.8;
}

/* FOOTER */
.footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
    background:linear-gradient(135deg,#1f6feb,#3ba2ff);
    color:white;
    font-weight:500;
}
