.header-container {
  background: transparent;
  border-bottom: 1px solid #e6cfe3;
  padding-bottom: 8px;
}

.title {
  font-size: 25px;
  padding: 6px 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
}
