.profiles {
  display: flex;
  justify-content: center;
  padding: 16px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 15px;
  text-align: center;

  box-shadow: 0 10px 30px rgba(59, 31, 59, 0.45),
    0 6px 12px rgba(0, 0, 0, 0.35);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid black;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(185, 139, 179, 0.35),
    0 3px 6px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.card img {
  width: 48px;
  height: 48px;
  margin-bottom: 14px;
}

.card h3 {
  font-size: 15px;
  font-weight: 600;
  color: #3B1F3B;
}
